fastapi==0.128.0
uvicorn==0.40.0
python-multipart==0.0.21
python-dotenv==1.2.1
requests==2.32.5
numpy==2.3.3
scikit-learn==1.8.0
nltk==3.9.2
spacy==3.8.11
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
torch==2.7.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
openai-whisper==20250625
transformers==4.57.6
sentence-transformers==5.2.0
sentencepiece==0.2.1
accelerate==1.12.0
google-genai==1.60.0
reportlab==4.4.9
